data_dir: /var/lib/vector

sources:
  journald:
    type: journald
    include_units: ["ssh.service"]

transforms:
  prepare_logs:
    type: remap
    inputs: ["journald"]
    source: |
      .timestamp = to_unix_timestamp(.timestamp) ?? now()
      .message = .message
      .host = .host
      .source = .source_type

sinks:
  clickhouse:
    type: clickhouse
    inputs: ["prepare_logs"]
    endpoint: "http://{{ hostvars['clickhouse-01']['ansible_host'] }}:{{ clickhouse_http_port | default(8123) }}"
    database: logs
    table: vector_logs
    skip_unknown_fields: true
    encoding:
      timestamp_format: "unix"
    compression: gzip
    buffer:
      type: memory
      max_events: 1000
    request:
      timeout_secs: 30
      retry_max_duration_secs: 300