[Unit]
Description=Vector
Documentation=https://vector.dev
After=network-online.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/vector --config /etc/vector/vector.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target